*
!*/
!*.cpp
!*.hpp
!*.ipp
!*.md
!*.mk
!*.tpp
!*.yaml
!.clang-format
!.clang-tidy
!.clang-uml
!.clangd
!.devcontainer/**
!.gitignore
!.gitkeep
!CMakeLists.txt
!commitlint.*
!Dockerfile
!docs/**/*.png
!Doxyfile
!Makefile
.VSCodeCounter/
build/
latex/
