# Run clang-format and clang-tidy on C/C++ files.

name: CPP Linter

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches: [main, master]
    paths: ['**.c', '**.cpp', '**.h', '**.hpp', '**.ipp', '**.tpp', '**/CMake*', '**.cmake', '**/Makefile', '**.mk', '**/.clang-*', '**/cpp-linter.yaml']
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Create compilation database
        run: cmake -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          CPP_LINTER_PR_REVIEW_SUMMARY_ONLY: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file' # Use .clang-format config file.
          extensions: 'c,cpp,h,hpp,ipp,tpp'
          tidy-checks: '' # Use .clang-tidy config file.
          version: '20'
          files-changed-only: false # Changes in header files can affect other files.
          ignore: 'build'
          step-summary: true
          database: 'build'
          tidy-review: true
          format-review: true
      - name: Fail if any cpp-linter checks failed
        if: steps.linter.outputs.checks-failed > 0
        run: |
          echo "Go to Summary to see the details."
          exit 1
